:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.document-viewer {
    padding: 24px 0;
    overflow: auto;
    height: 100%;
    background-color: lightgray;

    &__viewport{
        margin: auto;
        transition: width .2s ease;
        gap: 16px;
    }
}
.toolbar-actions{ 
    display: flex;
    gap: 8px;
}